<h1>Edit Taco</h1>

<%= form_tag "/tacos/#{@taco.id}", method: :patch do %>




            <div>
              <%= label_tag :name %>
              <%= text_field_tag :name, @taco.name %>
            </div>
            <div>
              <%= label_tag :price %>
              <%= text_field_tag :price, @taco.price %>
            </div>
            <div>
              <%= label_tag :image_1 %>
              <%= text_field_tag :image_1, @taco.images[0].image_url %>
            </div>
            <div>
              <%= label_tag :image_2 %>
              <%= text_field_tag :image_2, @taco.images[1].image_url %>
            </div>
            <div>
              <%= label_tag :description %>
              <%= text_field_tag :description, @taco.description %>
            </div>
            <div>
              <%= label_tag :rating %>
              <%= text_field_tag :rating, @taco.rating %>
            </div>
            <div>
              <%= label_tag :supplier %>
              <%= text_field_tag :supplier, @taco.supplier.name %>
            </div>





<%= submit_tag "Update Taco" %>

<% end %>