<% if @cart && @cart.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this taco from being added to your cart:</h2>
 
    <ul>
    <% @cart.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <section>
      <div class="row">
        <div class="col-sm-9">
          <div class="taco_single">
            <h1>Create a new taco:</h1>

            <%= form_tag '/tacos', method: :post do %>

            <div>
              <%= label_tag :name %>
              <%= text_field_tag :name, @taco.name %>
            </div>
            <div>
              <%= label_tag :price %>
              <%= text_field_tag :price, @taco.price %>
            </div>
            <div>
              <%= label_tag :image_1 %>
              <%= text_field_tag :image_1 %>
            </div>
            <div>
              <%= label_tag :image_2 %>
              <%= text_field_tag :image_2 %>
            </div>
            <div>
              <%= label_tag :description %>
              <%= text_field_tag :description, @taco.description %>
            </div>
            <div>
              <%= label_tag :rating %>
              <%= text_field_tag :rating, @taco.rating %>
            </div>
            <div>
              <%= label_tag :supplier_id %>
              <%= text_field_tag :supplier_id %>
            </div>
            <%= submit_tag "Add Taco" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
